.banner__md--wrapper {
  $banner-transition: height 1s;

  height: 285px;
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
  transition: $banner-transition;
  -moz-transition: $banner-transition;
  -webkit-transition: $banner-transition;
}

.banner__md--close:before {
  content: "-";
  background-color: rgba(255,255,255, 0.5);
  color: $black;
  display: inline-block;
  font-size: $base-font-size;
  position: absolute;
  padding: .25rem .5rem;
  top: .5rem;
  right: .5rem;
  z-index: 10;
  cursor: pointer;
}

.banner__md--close:hover::before {
  background-color: $mq--red;
  color: $white;
}

.banner__md--image {
  width: 100%;
  height: auto;
  position: relative;
  transform: translateY(-30%);
}

.banner--closed {
  height: 45px;
}

.banner--closed .banner__md--close:before {
  content: "+";
}