/**
 * FOOTER TOP
 */

.footer-main {
  margin-top: 5rem;
}

.footer-cta {
  background-color: $tar;
  padding: 30px 0;
}

.footer-cta__heading--wrapper {

  @include breakpointSmallerThan($breakpoint-medium) {
    margin-bottom: 1rem
  }
}

.footer-cta__heading {
  margin-right: 1rem;
  font-weight: bold;

  @include breakpointLargerThan($breakpoint-medium) {
    font-size: $base-font-size + 20;
  }

  @include breakpointSmallerThan($breakpoint-large) {
    font-size: $base-font-size +10;
  }
}

.footer-cta__quote--wrapper {
  position: relative;
}

.footer-cta__quote--input {
  width: 100%;
}

.footer-cta__quote--submit {
  position: absolute;
  right: 0;
  top: 0;
  color: $white;
  background-color: $mq--blue;
}

/**
 * FOOTER MAIN
 */

.footer-main__content--wrapper {
  background-color: $footer-main--background;
  color: $footer-main--color;
  padding: 40px 0;
}

.footer-main__heading {
  font-weight: 800;
  font-size: $base-font-size + 6;
  color: $black;
  margin-bottom: 1rem;
}

.footer-main__link {
  font-size: $base-font-size;
  color: $ash;
}

/**
 * FOOTER COPYRIGHT
 */