/**
 * HEADER DEFAULT / DESKTOP
 * there are 2 seperate headers
 */

.header-main {
  margin-bottom: 3rem;
}

.hero .header-main {
  margin-bottom: 0;
}

.header-main__top {
  background: $header-background;
  display: block;
  width: 100%;
  border-bottom:1px solid $grey--light;
  padding: .5em .5em;
  position: relative;

  @include breakpointLargerThan($breakpoint-medium) {
    padding: 1.5em .5em;
  }
}

.header-main__logo--large {
  width: 100%;
  max-width: 225px;
}

.header-main__logo--small {
  width: 50px;
}

.header-main__contact-section {
  display: block;
  position: relative;
  transform: translateY(50%);
  color: $ash;
}

.header-main__phone {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid $grey--subtle;
}

.header-main__mail--link {
  color: $ash;
}

.header-main__search--input,
.header-mobile__search--input {
  padding: .75rem 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  color: $grey--light;
  font-size: $base-font-size - 4;

  @include breakpointSmallerThan($breakpoint-medium) {
    padding: 2rem 1rem;
    font-size: $base-font-size;
    background: $mq--blue;
    border: none;
  }
}
.header-main__wrapper--right {
  transform: translateY(50%);
}

/**
 * MOBILE HEADER
 * there are 2 seperate headers
 */

.header-mobile__wrapper {
  @include breakpointSmallerThan($breakpoint-medium) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.header-mobile__wrapper--icon {
  @include breakpointSmallerThan($breakpoint-medium) {
    float: left;
    margin-right: 2rem;
  }
}

.header-mobile__icon--link {
  color: $black;
  font-size: $base-mobile-icon-size;
  float: right;
}

.header-mobile__wrapper--search {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 3000;
}
.mobile-search--active .header-mobile__wrapper--search {
  display: block;
}