.nav-main__wrapper {
  background: $navbar-color;
  padding: $nav-wrapper-padding;
}
.nav-main__list-item--link {
  color: $nav-link-color;
  padding: 0 $nav-wrapper-padding;
  display: block;
  text-transform: uppercase;
  font-size: $base-font-size - 3px;
}
.nav-main__list-item--link:active,
.nav-main__list-item--link:hover {
  color: $nav-link-hover-color;
}
.nav-main__list-item {
  display: inline-block;
}
.nav-mobile__hamburger {
  position: absolute;
  top: 25%;
  bottom: 75%;
  right: $base-padding;
}
.nav-mobile__hamburger--link {
  color: red;
  font-size: $base-hamburger-size;
}