.product-available--wrapper {
  position: absolute;
  top: $product-available--spacing;
  right: -$product-available--spacing;
}

.product-available__link {
  padding: .5rem 2rem;
  color: $white;
  font-size: $base-font-size;
  text-transform: capitalize;
}

.product-title {
  display: block;
  margin-bottom: .5rem;
}

.product-sku {
  color: $grey--medium;
  display: inline-block;
}

.product-share {
  margin: 1rem 0;
}

.product-overview .made-in-usa--wrapper {
  float: none;
  display: inline-block;
}

/**
 * PRODUCT DETAILS
 */

.product-details {
  margin-top: 3rem;
}

.product-details header {
  margin-bottom: 2rem;
}

.product-details__heading {
  font-size: $base-font-size + 8;
}

.product-details__description {
  margin-bottom: 2rem;
}

.product-details__list-item {
  padding: 1rem;
}

.product-details__list-item:nth-child(odd) {
  background: lighten($mq--blue, 60%);
}

.product-detail__heading {
  font-weight: bold;
  margin-right: .5rem;
}
