section.product-details--wrapper .container {
  border-bottom: 2px solid white;
}

.product-overview__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey--subtle;
  margin-bottom: 2rem;
}

.product-overview__header--group {
  margin-top: 1rem;
}

.product-available--wrapper {
  position: absolute;
  top: $product-available--spacing;
  left: -$product-available--spacing;
}

.product-available__link {
  padding: .5rem 2rem;
  color: $white;
  font-size: $base-font-size - 3;
  text-transform: capitalize;
}

.product-title__product {
  font-size: $base-font-size + 14;
  display: block;
  letter-spacing: -1px;
  font-weight: 700;
  color: $black;
  line-height: 1;
}

.product-title__manufacturer {
  font-size: $base-font-size - 2;
  font-weight: 800;
  letter-spacing: -1px;
  font-style: italic;
  font-family: Helvetica;
}

.product-sku {
  color: $grey--medium;
  float: left;
  line-height: $base-line-height;
}

.product-share {
  margin: 2rem 0;
}

.product-overview .made-in-usa--wrapper {
  float: left;
  font-size: $base-font-size - 3;
  margin-left: 1rem;
}

.made-in-usa__text {
  position: relative;
  display: inline-block;
  transform: translateY(-30%);
}

/**
 * PRODUCT DETAILS
 */

.product-details {
  margin-top: 2rem;
}

.product-detail__details--wrapper {
  display: inline-block;
}

.product-detail__detail {
  color: $grey--medium;
  font-size: $base-font-size - 2;
  font-weight: 400;
  display: block;
  margin-bottom: .5rem;
}

.product-details header {
  margin-bottom: 2rem;
}

.product-details__heading {
  font-size: $base-font-size;
  color: $black;
  margin-bottom: 1rem;
  font-weight: bold;
}

.product-details__description {
  margin-bottom: 2rem;
}

.additional-details--wrapper .container {
  margin-top: 1px;
  padding-top: 2rem;
  border-top: 1px solid #DCDCDC;
}

.additional-details__list-item {
  padding: 1rem 0.5rem;
  font-size: $additional-details__font-size;
}

.additional-details__list-item:nth-child(odd) {
  background-color: $grey--subtle;
}

.additional-details__heading {
  @extend .product-title__product;

  margin-bottom: 1rem;
}

.additional-details__label {
  font-weight: bold;
}