/**
 * MAIN SIDEBAR FOR CATEGORY
 */

.category-sidebar--wrapper {
  margin-bottom: 1rem;
}

.category-sidebar--wrapper {
  border: 1px solid $grey--subtle;
  padding: 1rem;
}

.category-sidebar__heading {
  font-size: $base-font-size - 1;
  font-weight: bold;
  margin-bottom: .3rem;
}

.category-sidebar__link {
  color: $black;
  line-height: 1.5;
}

.category-sidebar__list-group {
  margin-bottom: 1rem;
}