/**
 * DEFAULT SLICK SLIDER
 */

.slick-dots {
  bottom: 15px;
}

.slick-prev:before, .slick-next:before {
  color: $grey--medium;
}

.slick-dots li button:before {
  font-size: $base-font-size + 5;
  color: $slider-dots-inactive--color;
}

.slick-dots li.slick-active button:before {
  color: $slider-dots-active--color;
}

/**
 * HOME SLIDER
 */

.home-slider--wrapper {
  margin-bottom: $slider-margin-bottom;
  overflow: hidden;
}

.home-slider__slide {
  position: relative;
  @include breakpointLargerThan($breakpoint-medium) {
    height: $slider-height--xlarge;
  }
  @include breakpointSmallerThan($breakpoint-medium) {
    height: $slider-height--small;
  }
}

.home-slider__heading--wrapper {
  @include breakpointLargerThan($breakpoint-small) {
    position: relative;
    left: 0;
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    width: $slider-heading-width;
  }

}

.home-slider__heading {
  @include breakpointLargerThan($breakpoint-small) {
    text-transform: uppercase;
    font-size: $base-font-size * 4;
    font-weight: 800;
    line-height: 1.2;
  }
}

.home-slider__cta {
  padding: 1rem 2rem;
  color: $white;
  display: inline-block;
  margin: 1rem 0;
}

.home-slider__cta:hover {
  color: darken($white, 25%);
}

/**
 * PRODUCT SLIDER
 */

.product-slider {
  position: relative;
}

.product-slider__image {
  width: 100%;
  border: $product-slider__image--border;
}

.product-slider__color {
  font-size: $base-font-size - 3;
  color: $grey--medium;
  margin: 1rem 0;
}

.product-slider--wrapper.slick-initialized .slick-slide {
  opacity: 0.4;
  margin: 0 10px;
}

.product-slider--wrapper.slick-initialized .slick-slide.slick-current {
  opacity: 1;
}