/**
 * DEFAULT SLICK SLIDER
 */

.slick-dots {
  bottom: 15px;
}

.slick-prev:before, .slick-next:before {
  color: $grey--medium;
}

.slick-dots li button:before {
  font-size: $base-font-size + 5;
  color: $slider-dots-inactive--color;
}

.slick-dots li.slick-active button:before {
  color: $slider-dots-active--color;
}

/**
 * HOME SLIDER
 */

.home-slider--wrapper {
  margin-bottom: $slider-margin-bottom;
  overflow: hidden;
}

.home-slider__slide {
  position: relative;

  @include breakpointLargerThan($breakpoint-medium) {
    height: $slider-height--xlarge;
  }
  @include breakpointSmallerThan($breakpoint-medium) {
    height: $slider-height--medium;
  }
}

.home-slider__heading--wrapper {
  position: relative;
  left: 0;
  width: 100%;

  @include breakpointBetween($breakpoint-small, $breakpoint-medium) {
    top: $slider-height--medium / 2 - 85 !important; // top is set in WP - override for tablet
  }

  @include breakpointSmallerThan($breakpoint-small) {
    top: 100px !important; // top is set in WP - override for mobile
  }
}

.home-slider__heading--primary {
  @include breakpointLargerThan($breakpoint-small) {
    font-size: $base-font-size + 52;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 12px;
  }
}

.home-slider__heading--secondary {
  @extend .home-slider__heading--primary;

  font-weight: 700;
  font-size: $base-font-size * 2;
  letter-spacing: 5px;
}

.home-slider__cta {
  padding: 1rem 2rem;
  color: $white;
  display: inline-block;
  margin: 1rem 0;
}

.home-slider__cta:hover {
  color: darken($white, 25%);
}

/**
 * PRODUCT SLIDER
 */

.product-slider {
  position: relative;
}

.product-slider__image {
  width: 100%;
  border: $product-slider__image--border;
}

.product-slider__color {
  font-size: $base-font-size - 3;
  color: $grey--medium;
  margin: 1rem 0;
}

.product-slider--wrapper.slick-initialized .slick-slide {
  opacity: 0.4;
  margin: 0 10px;
}

.product-slider--wrapper.slick-initialized .slick-slide.slick-current {
  opacity: 1;
}