/**
 * DEFAULT SLICK SLIDER
 */

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  font-size: $base-font-size + 5;
  color: $slider-dots-inactive--color;
}

.slick-dots li.slick-active button:before {
  color: $slider-dots-active--color;
}

/**
 * HOME SLIDER
 */

.home-slider--wrapper {
  margin-bottom: $slider-margin-bottom;
  overflow: hidden;
}

.home-slider__slide {
  position: relative;
  @include breakpointLargerThan($breakpoint-medium) {
    height: $slider-height--large;
  }
  @include breakpointSmallerThan($breakpoint-medium) {
    height: $slider-height--small;
  }
}

.home-slider__heading--wrapper {
  @include breakpointLargerThan($breakpoint-small) {
    position: absolute;
    top: 40%;
    left: 150px;
    transform: translateY(-50%);
    width: $slider-heading-width;
  }

}

.home-slider__heading {
  @include breakpointLargerThan($breakpoint-small) {
    text-transform: uppercase;
    font-size: $base-font-size * 4;
    font-weight: 800;
    line-height: 1.2;
  }
}

.home-slider__image {
  width: 100%;
  min-height: 100%;
}

.home-slider__cta {
  padding: 1rem 2rem;
  color: $white;
  display: inline-block;
  margin: 1rem 0;
}

.home-slider__cta:hover {
  color: darken($white, 25%);
}