/**
 * DEFAULT BUTTON STYLES
 */

.btn {
  border: none;
  display: inline-block;
}

.btn-primary {
  @extend .btn;

  background-color: $mq--blue;
  padding: 1rem 2rem;
  font-weight: 400;
  font-size: $base-font-size - 3;
  color: $white;
  text-transform: uppercase;
}

.btn-primary:hover {
  color: $white;
}

.btn-primary--lines {
  @extend .btn-primary;

  background-color: transparent;
  border: 1px solid $black;
  color: $black;
}

.btn-primary--lines:hover {
  color: $mq--blue;
  border-color: $mq--blue;
}

.btn-secondary {
  @extend .btn-primary;

  background-color: $mq--red;
}

.btn-secondary:hover {
  background-color: darken($mq--red, 5%);
}

.btn-next {
  @extend .btn;

  border: 1px solid $grey--medium;
  color: $grey--medium;
  border-radius: 3px;
  padding: .5rem 1rem;
  margin-right: 10px;
  background-color: transparent;
}

.btn-prev {
  @extend .btn-next;

}

.btn-next:hover,
.btn-prev:hover {
  background-color: $mq--blue;
  border-color: transparent;
  color: $white;
}

.btn-social--wrapper {
  @extend .btn-primary--lines;

  padding: .7rem 1.1rem;
}

.btn-social--wrapper a {
  color: $black;
}

.btn-quote {
  @extend .btn-primary;

  width: 100%;
  text-align: center;
}

.btn-quote:hover {
  @extend .btn-primary:hover;

  background-color: darken($mq--blue, 5%);
}