/**
 * DEFAULT BUTTON STYLES
 */

.button-primary--lines {
  padding: 1rem 2rem;
  border: 1px solid $black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $base-font-size - 3;
  color: $black;
  display: inline-block;
}

.button-primary--lines:hover {
  color: $mq--blue;
  border-color: $mq--blue;
}