/**
 * DEFAULT BUTTON STYLES
 */

.btn {
  border: none;
  display: inline-block;
}

.btn-primary {
  @extend .btn;

  background-color: $mq--blue;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $base-font-size - 3;
  color: $white;
}

.btn-primary--lines {
  @extend .btn-primary;

  background-color: transparent;
  border: 1px solid $black;
  color: $black;
}

.btn-primary--lines:hover {
  color: $mq--blue;
  border-color: $mq--blue;
}

.btn-next {
  @extend .btn;

  border: 1px solid $grey--medium;
  color: $grey--medium;
  border-radius: 3px;
  padding: .5rem 1rem;
  margin-right: 10px;
  background-color: transparent;
}

.btn-prev {
  @extend .btn-next;

}

.btn-social--wrapper {
  @extend .btn-primary--lines;

  padding: 1rem  1.5rem;
  margin: 1rem 0;
}

.btn-social--wrapper a {
  color: $black;
}

.btn-quote {
  @extend .btn-primary;

}