/**
 * CATEGORY
 * change to filter / not category
 */

.category__label {
  font-size: $base-font-size - 4;
  text-align: center;
  color: $ash;
  margin-right: 1rem;
  display: inline-block;
}

.category__input--select {
  width: 40%;
  display: inline-block;
  text-transform: capitalize;
  font-size: $base-font-size - 3;
}

.category__header {
  border-bottom: 3px solid $grey--subtle;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

.category__heading--wrapper {
  float: left;
}

.category__heading {
  font-size: $base-font-size + 10;
}

.category__filter {
  width: 200px;
  float: right;
}

.category__filter--toggle {
  color: $grey--medium;
  cursor: pointer;
  padding: 0 .25rem;
}

.category__filter--toggle:hover {
  color: $mq--blue;
}