* {
  box-size:border-box;
}
body {
  font-family: $base-font-family;
  color: $base-font-color;
}
a, a:hover, a:focus {
  text-decoration: none;
}
a {
  color: $mq-blue;
}
a:hover {
  color: lighten($mq-blue, 10%);
}
.container {
  width: 90%;
  margin: 0 auto;

 @include breakpointSmallerThan($breakpoint-medium) {
    width: 100%;
  }
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.hidden--mobile {
  @include breakpointSmallerThan($breakpoint-small) {
    display: none;
  }
}
.hidden--desktop {
  @include breakpointLargerThan($breakpoint-small) {
    display: none;
  }
}