p {
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: $base-font-size;
}

h1 {
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: $base-font-size + 20;
}

h2 {
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  color: $base-font-color;
  font-size: $base-font-size * 2.625;

  @include breakpointSmallerThan($breakpoint-medium) {
    font-size: $base-font-size * 2;
  }

  @include breakpointSmallerThan($breakpoint-small) {
    font-size: $base-font-size * 1.5;
  }
}

h3 {
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  color: $base-font-color;
}

h4 {
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
  color: $base-font-color;
}

.heading--rule {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
}

.heading--rule:after {
  display: block;
  content: "";
  width: 20%;
  height: 1px;
  margin-top: 5px;
  background-color: $black;
  margin-bottom: 1rem;
}