// base
$black: #323232;
$white: #fff;
$sand: #F8F8F8;

// greys
$ash: #9b9b9b;
$grey--medium: #CFCFCF;
$grey--light: #BDBDBD;
$grey--subtle: #E2E2E2;

// mq specific
$mq--blue: #065790;
$mq--red: #E50B3D;

//forms
$green--confirmation: #CCE6CC;