// fonts
$font-family-sans-serif: "Roboto", "Helvetica Neue", "Arial", sans-serif;

// breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 970px;
$breakpoint-xlarge: 1200px;

// base variables
$base-font-family: $font-family-sans-serif;
$base-font-size: 16px;
$base-font-color: $black;
$base-padding: 10px;
$base-line-height: $base-font-size * 1.5;
$base-hamburger-size: $base-font-size + 20;
$base-mobile-icon-size: $base-font-size + 10;
$base-transition-time: .2s;

// header variables
$header-background: $white;

// nav variables
$navbar-color: $tar;
$nav-wrapper-padding: 20px;
$nav-link-color: $white;
$nav-link-hover-color: $mq-red;

