/**
 * FONTS
 */

$slick-font-path: "../fonts/" !default;
$font-family-sans-serif: "Roboto", "Helvetica Neue", "Arial", sans-serif;

/**
 * BREAKPOINTS
 */

$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 970px;
$breakpoint-xlarge: 1200px;

/**
 * BASE
 */

// ** body
$base-body-color: $sand;
// ** fonts
$base-font-family: $font-family-sans-serif;
$base-font-size: 16px;
$base-font-color: $black;
  // ** spacing
$base-padding: 10px;
$base-line-height: 1.5;
  // ** icons
$base-hamburger-size: $base-font-size + 20;
$base-mobile-icon-size: $base-font-size + 10;
  // ** transitions
$base-transition-time: .2s;


/**
 * HEADER MAIN
 */

$header-background: $white;

/**
 * NAV MAIN
 */

$navbar-color: $tar;
$nav-wrapper-padding: 20px;
$nav-link-color: $white;
$nav-link-hover-color: $mq--red;

/**
 * PRODUCT BLOCKS
 */

$product-block-link-color: $black;
$product-block-rule-color: $grey--subtle;

/**
 * PRODUCT DETAILS
 */

$product-available--spacing: 20px;
$product-slider__image--border: 1px solid $grey--subtle;
$additional-details__font-size: $base-font-size - 3;

/**
 * FOOTER CTA
 */

$footer-cta--height: 45px;



/**
 * FOOTER MAIN
 */

$footer-main--background: $white;
$footer-main--color: $black;

/**
 * LOADING
 */

$loading-background: $white;
$loading-icon: $mq--blue;
$loading-opacity: 0.9;

/**
 * POPUP
 */

$popup--index: 8000;
$popup--bg: rgba(0,0,0,0.5);

/**
 * HERO SLIDER DEFAULTS
 * powered by slick
 */

$slider-heading-width: 400px;
$slider-height--small: 225px;
$slider-height--large: 425px;
$slider-margin-bottom: 5rem;
$slider-dots-inactive--color: $black;
$slider-dots-active--color: $mq--blue;

