<footer class="footer-main col--sm-12 row">
  <section class="footer-cta row">
    <div class="container">
      <div class="footer-cta__heading--wrapper col--sm-12 col--md-5 col--lg-6">
        <span class="footer-cta__heading text--white text--uppercase">call us at</span>
        <span class="footer-cta__heading text--grey text--uppercase">{{ mq.phone }}</span>
      </div>
      <div class="footer-cta__quote--wrapper col--sm-12 col--md-7 col--lg-6 hidden--sm">
        <form-quote-email></form-quote-email>
      </div>
    </div>
  </section>
  <section class="footer-main__content--wrapper clearfix">
    <div class="container">
      <div class="col--md-4">
        <ul>
          <li ng-repeat="page in footer.pages">
            <a class="footer-main__heading text--uppercase" ng-click="footer.goToPage(page.slug)" href="#">{{ page.title }}</a>
          </li>
        </ul>
      </div>
      <div class="col--md-4">
        <h3 class="footer-main__heading text--uppercase">products</h3>
        <ul>
          <li ng-repeat="category in footer.categories">
            <a class="footer-main__link" ui-sref="home.category({ catSlug: category.slug })">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="footer-main__sub">
    <div class="col--sm-12">
      <p class="footer-main__sub-content text--center">&copy; 2015 MissionQuest Advertising. Designed and developed by <a href="dribbble.com/itsmedrew">ItsMeDrew</a></p>
    </div>
  </section>
</footer>