<footer class="footer-main col--sm-12 row">
  <section class="footer-cta row">
    <div class="container">
      <div class="footer-cta__heading--wrapper col--sm-12 col--md-6">
        <span class="footer-cta__heading text--white text--uppercase">call us at</span>
        <span class="footer-cta__heading text--grey text--uppercase">{{ mq.phone }}</span>
      </div>
      <div class="footer-cta__quote--wrapper col--sm-12 col--md-6">
        <form ng-submit="footer.submitForm()" name="footer.newsletter" ng-hide="footer.newsletterSubmitted" novalidate>
          <input class="footer-cta__quote--input" name="input_1" type="email" placeholder="email address" ng-model="footer.email" required ng-email>
          <span class="error" ng-show="footer.newsletter.input_1.$error.required && footer.newsletter.$dirty">Required!</span><br>
          <span class="error" ng-show="footer.newsletter.input_1.$error.email && footer.newsletter.$dirty">An email is required!</span><br>
          <button class="footer-cta__quote--submit btn btn-primary">Send</button>
        </form>
        <p ng-show="footer.newsletterSubmitted">Thanks bitches!</p>
      </div>
    </div>
  </section>
  <section class="footer-main__content--wrapper clearfix">
    <div class="container">
      <div class="col--md-4">
        <ul>
          <li ng-repeat="page in footer.pages">
            <a class="footer-main__heading text--uppercase" href="#">{{ page.title }}</a>
          </li>
        </ul>
      </div>
      <div class="col--md-4">
        <h3 class="footer-main__heading text--uppercase">products</h3>
        <ul>
          <li ng-repeat="category in footer.categories">
            <a class="footer-main__link" ui-sref="home.category({ catSlug: category.slug })">{{ category.name }}</a>
          </li>
        </ul>
      </div>
      <div class="col--md-4">

      </div>
    </div>
  </section>
</footer>