<header class="header-main">
  <section class="header-main__top row clearfix">
    <div class="container header-main__container row">
      <div class="header-main__wrapper--left col--sm-4">
        <a ui-sref="home" href="#"><img class="header-main__logo--large hidden--sm" src="../assets/img/logo.jpg" alt=""></a>
        <a ui-sref="home" href=""><img class="header-main__logo--small hidden--lg" src="../assets/img/logo-small.png" alt=""></a>
      </div>
      <!-- ** end left-->
      <div class="header-main__wrapper--right col--sm-4 col--sm-push-4 col--md-7 col--md-push-1 col--lg-6 col--lg-push-2">
        <div class="header-main__contact-section col--sm-5 hidden--sm">
          <span class="header-main__phone">{{ mq.phone }}</span>
          <a class="header-main__mail--link" href="mailto:{{ mq.email }}"><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="js-search-bar header-main__search--wrapper col--sm-6 col--sm-push-1 hidden--sm">
          <form ng-submit="header.submit(search.term)">
            <i class="header-main__search--icon fa fa-search"></i>
            <input class="header-main__search--input" type="text" placeholder="find a product..." ng-model="search.term">
          </form>
        </div>
      </div>
      <section class="header-mobile__wrapper hidden--lg">
          <div class="header-mobile__wrapper--icon">
            <a href="#" class="header-mobile__icon--link" ng-click="header.toggleSearch()">
              <i class="header-mobile__icon--search fa fa-search"></i>
            </a>
          </div>
          <div class="header-mobile__wrapper--icon">
            <a href="#" class="header-mobile__icon--link" ng-click="header.toggleMenu()">
              <i class="js-mobile-menu header-mobile__icon--bars fa fa-bars"></i>
            </a>
          </div>
        </section>
      <!-- ** end right-->
    </div>
    <div class="header-mobile__wrapper--search hidden--lg">
      <form ng-submit="header.submit(search.term)">
        <input class="header-mobile__search--input" type="text" placeholder="find a product..." ng-model="search.term">
      </form>
    </div>
  </section>
  <section ui-view="nav"></section>
</header>