<div class="category-sidebar--wrapper" ng-init="sidebar.getCategories()">
  <div class="category-sidebar__list-group">
    <h4 class="category-sidebar__heading text--uppercase">product categories</h4>
    <ul class="category-sidebar__list">
      <li ng-repeat="cat in sidebar.categories" class="category-sidebar__list-item">
        <a href="#" ng-click="sidebar.switchState(cat.slug)" class="category-sidebar__link text--capitalize">{{ cat.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="category-sidebar--wrapper">
  <div class="category-sidebar__list-group">
    <h4 class="category-sidebar__heading text--uppercase">{{sidebar.catSlug}} categories</h4>
    <ul class="category-sidebar__list">
      <li ng-repeat="cat in sidebar.childCategories" class="category-sidebar__list-item">
        <a href="#" ng-click="sidebar.switchState(cat.slug)" class="category-sidebar__link text--capitalize">{{ cat.name }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="category-sidebar--wrapper" ng-show="sidebar.isCategoryState">
  <div class="category-sidebar__list-group">
    <h4 class="category-sidebar__heading text--uppercase">Filter By Gender</h4>
    <ul class="category-sidebar__list">
      <li class="category-sidebar__list-item">
        <a href="#" class="category-sidebar__link text--capitalize" ng-click="category.setFacet('male')">male</a>
      </li>
      <li class="category-sidebar__list-item">
        <a href="#" class="category-sidebar__link text--capitalize" ng-click="category.setFacet('female')">female</a>
      </li>
    </ul>
  </div>
  <div class="category-sidebar__list-group">
    <h4 class="category-sidebar__heading text--uppercase">Filter By Gender</h4>
    <ul class="category-sidebar__list">
      <li class="category-sidebar__list-item">
        <a href="#" class="category-sidebar__link text--capitalize" ng-click="category.setFacet('made_in_usa')">made in usa</a>
      </li>
    </ul>
  </div>
</div>