<div class="js-home-slider home-slider--wrapper" ng-init="mq.setHero()">
  <div class="home-slider__slide" style="background: url('{{ slide.slide_image.url }}') no-repeat center;" ng-repeat="slide in home.sliderImages" repeat-complete="onComplete()" bind-once>
    <div class="container">
      <div class="home-slider__heading--wrapper">
        <h2 class="home-slider__heading" style="color: {{ slide.slide_text_color }}">{{ slide.slide_text }}</h2>
        <a
          class="home-slider__cta"
          style="background-color: {{ slide.slide_button_color }}"
          ui-sref="home.product({ postID: slide.slide_button_link.ID })">
          {{ slide.slide_button_text }}
        </a>
      </div>
    </div>
  </div>
</div>