<div class="js-home-slider home-slider__wrapper">
  <div class="home-slider__slide" ng-repeat="slide in home.sliderImages">
    <div class="container">
      <div class="home-slider__wrapper--heading">
        <h2 class="home-slider__heading" style="color: {{ slide.slide_text_color }}">{{ slide.slide_text }}</h2>
        <a
          class="home-slider__cta"
          style="background-color: {{ slide.slide_button_color }}">
          {{ slide.slide_button_text }}
        </a>
      </div>
    </div>
    <img class="home-slider__image" src="{{ slide.slide_image.url }}" alt="{{ slide.slide_image.alt }}">
  </div>
</div>