<div class="container">
  <div class="product-display__wrapper row">
    <ul class="product-display__list">
      <li class="product-dipslay__item col--md-3" ng-repeat="product in category.products">
        <product-block></product-block>
      </li>
    </ul>
  </div>
  <button ng-show="category.page !== category.totalPosts" ng-click="category.nextPage()">Next Page</button>
  <button ng-show="category.page > 1" ng-click="category.prevPage()">Prev Page</button>
  <div ng-show="category.totalPosts === 0">
    <h2>no results to show</h2>
  </div>
</div>

<loading></loading>