<div class="container row">
  <div class="banner__md--wrapper banner--closed col--sm-12">
    <span ng-click="category.toggleBanner()" href="#" class="banner__md--close"></span>
    <img class="banner__md--image" src="{{category.bannerImage.url}}" alt="{{category.bannerImage.alt}}">
  </div>
  <category-sidebar class="col--md-3 col--sm-12"></category-sidebar>
  <div class="category__results--wrapper col--md-9">
    <header class="category__header clearfix">
      <div class="category__heading--wrapper">
        <h2 class="category__heading text--capitalize">{{category.name}}</h2>
        <h2 ng-if="category.facet" class="category__heading text--capitalize">Filter: {{category.facet}}</h2>
      </div>
      <div class="category__filter hidden--sm">
        <label class="category__label">products per page</label>
        <select
          class="category__input--select"
          ng-options="option.id as option.value for option in mq.perPageOptions"
          ng-model="category.perPage"
          ng-change="category.updatePostsPerPage(category.perPage)"
          ng-init="category.perPage=mq.perPage">
        </select>
      </div>
      <div class="category__filter hidden--sm">
        <label class="category__label">order by</label>
        <select
          class="category__input--select"
          ng-options="orderOption.id as orderOption.value for orderOption in mq.orderByOptions"
          ng-model="orderOption.value"
          ng-change="category.updateOrderBy(orderOption.value)"
          ng-init="orderOption.value='ID'">
        </select>
        <i ng-click="category.updateOrder()" ng-if="category.order === 'ASC'" class="category__filter--toggle fa fa-arrow-up"></i>
        <i ng-click="category.updateOrder()" ng-if="category.order === 'DESC' || category.order === ''" class="category__filter--toggle fa fa-arrow-down"></i>
      </div>
    </header>
    <div class="product-display__wrapper">
      <ul class="product-display__list">
        <li class="product-display__item" ng-repeat="product in category.products">
          <product-block></product-block>
        </li>
      </ul>
    </div>
    <div class="pagination--wrapper clearfix">
      <div class="pagination__buttons--wrapper">
        <button class="btn-prev" ng-show="category.page > 1" ng-click="category.prevPage()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn-next" ng-show="category.page !== category.totalPages" ng-click="category.nextPage()">
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
      <span class="pagination__current-page text--capitalize">page {{ category.page }} out of {{ category.totalPages }}</span>
    </div>


    <div ng-show="category.totalPosts === 0">
      <h2>no results to show</h2>
    </div>
  </div>
</div>

