<home-slider></home-slider>
<div class="home-content__wrapper">
  <div class="container">
    <header class="home-content__header row">
      <div class="home-content__heading col--md-6">
        <h2 class="heading--rule">new products</h2>
      </div>
      <div class="home-content__btn--wrapper col--md-4 col--md-push-2">
        <a class="home-content__btn btn-primary--lines">view all categories</a>
      </div>
    </header>
    <div class="product-display__wrapper row">
      <ul class="product-display__list">
        <li class="product-dipslay__item col--md-3" ng-repeat="product in home.recentProducts">
          <product-block></product-block>
        </li>
      </ul>
    </div>
  </div>
</div>
